body {
  padding: 5px;
}

.question{
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.radio-form {
  margin-right: 0;
  width: 100%;
}

.response {
  margin-left: 3px;
}

.btn-margin {
  margin-right: 5px;
}

.panel-footer {
  text-align: right;
  background-color: #fff;
}

.form-inline {
  padding: 15px;
}

.btn-green {
  background-color: #1ab394;
  color: #fff;
  border-radius: 3px;
}